{
  "root": true,
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  // "plugins": ["unsed-imports", "simple-import-sort"],
  "rules": {
    "quotes": "error",
    "jsx-quotes": "error",
    "eqeqeq": "error",
    "comma-dangle": "error",
    "import/order": [
      1,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
        ],
        "pathGroups": [
          { "pattern": "components", "group": "internal" },
          { "pattern": "common", "group": "internal" },
          { "pattern": "routes/**", "group": "internal" },
          { "pattern": "assets/**", "group": "internal", "position": "after" },
        ],
        "pathGroupsExcludedImportTypes": ["internal"],
        "alphabetize": { "order": "asc", "caseInsensitive": true },
      },
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
      },
    ],
  },
}
